* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100vh;
    background-color: #333333;
    background-position: center;
    background-repeat: no-repeat;

}

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar img {
    width: 50px;
}